/*Mobile design*/
:root{
  --main-background-color: hsl(0, 100%, 74%);
  --mobile-background: url("./images/bg-intro-mobile.png");
  --desktop-background: url("./images/bg-intro-desktop.png");
  --input-error-icons: url("./images/icon-error.svg");
  --main-text-color: white;
  --header-text-font-weight: 700;
  --main-text-font-weight: 500;
  --bold-text-font-weight: 600;
  --footer-text-font-weight: 400;
  --footer-text-color: hsl(246, 25%, 77%);
  --form-text-color: hsl(249, 10%, 26%);
  --form-border-color: hsl(246, 25%, 77%);
  --condition-text-color: hsl(0, 100%, 74%);
  --font-family: Poppins;
  --trial-section-background: hsl(248, 32%, 49%);
  --button-background-color: hsl(154, 59%, 51%);
  --error-text-color: hsl(0, 100%, 74%);

}
html{
  font-size: 16px;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-color: var(--main-background-color);
  background-image: var(--mobile-background);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  color: var(--main-text-color);
  font-family: var(--font-family);
}
.main-container{
  width: 95%;
  margin-top: 2rem;/*look into this you might need to adjust this to meet the design so everything line up right*/
}
.main-text-section{
  width: 100%;
  padding: 0;
  text-align: center;
  margin-top: 3.7rem;
}
.main-text-section h1{
  font-weight: var(--header-text-font-weight);
  width: 80%;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0;
  margin: 0 auto;
}
.main-text-section p{
  font-weight: var(--main-text-font-weight);
  margin: 1.2rem 0 0 0;
  width: 21.31rem /*341px*/;
  text-align: center;
  font-size: 1.05rem;
}
.trial-info-section{
  width: 100%;
  background-color: var(--trial-section-background);
  height: 5rem;
  margin: 0 auto;
  margin-top: 3.7rem;
  text-align: center;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0.25rem 0.5rem 0.5rem rgb(0,0,0,0.3);
} 
.trial-info-section p{
  margin: 0 auto;
  line-height: 1.5;
  width: 60%;
}
.trial-info-section strong{
  font-weight: var(--bold-text-font-weight);
}
.error-message{
  color: var(--error-text-color);
  font-size: 0.8rem;
  padding: 0;
  margin-right: 7%;
  text-align: right;
  margin-top: 0;
  font-weight: var(--main-text-font-weight);
  display: none;
}
.error{
  display: block;
}
form{
  background-color: white;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;/*most likely useless but it does not hurt to be sure*/
  border-radius: 0.3rem;
}
input{
  height: 3rem;
  width: 80%;
  margin: 0.7rem auto;
  border-radius: 0.3rem;
  border: var(--form-border-color) solid 0.1rem;
  padding-left: 1.3rem;
  color: var(--form-text-color);
}
.error-input{
  background-image: var(--input-error-icons);
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  border: var(--error-text-color) solid 0.2rem;
}
::placeholder{
  color: var(--form-text-color);
  font-weight: var(--bold-text-font-weight);
}
input:first-of-type{
  margin-top: 1.5rem
}
input:last-of-type{
  margin-bottom: 1.5rem;
}
#submit-button{
  height: 3rem;
  width: 90%;
  margin: 0 auto;
  color: white;
  font-weight: var(--bold-text-font-weight);
  border: none;
  border-radius: 0.5rem;
  background-color: var(--button-background-color);
  transition: all 0.5s ease-in-out;
}
.terms{
  color: var(--form-border-color);
  text-align: center;
  width: 75%;
  font-size: 0.7rem;
  margin: 0.5rem auto 1.5rem auto;
  color: var(--footer-text-color);
  line-height: 1.5;
}
.terms a{
  color: var(--condition-text-color);
  font-weight: var(--bold-text-font-weight);
  font-size: 0.8rem;
}
/*Table design*/
@media all and (min-width: 768px){
  body{
    background-image: none;
  }
  .main-text-section h1{
    font-size: 2rem;
  }
  .main-text-section p{
    width: 100%;
  }
  #submit-button{
    width: 85%;
  }
}
/*Desktop design*/
@media all and (min-width: 1024px){
  body{
    background-image: var(--desktop-background)
  }
  .main-container{
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". trial-area"
    "text-area form-area";
    column-gap: 3rem;
  }
  .main-text-section{
    grid-area: text-area;
    width: 100%;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
    margin: 0;
    margin-bottom: 5rem;
  }
  .main-text-section h1{
    margin: 0;
    width: 90%;
    font-size: 2.3rem;
    text-align: left;
  }
  .main-text-section p{
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
  }
  .trial-info-section{
    grid-area: trial-area;
    width: 100%;
    height: 3rem
  }
  .trial-info-section p{
    width: 100%;
  }
  form{
    grid-area: form-area;
    width: 100%;
  }
  #submit-button:hover{
  opacity: 0.5;
}
}